@using static E_Learning_MVC_Project.ViewComponents.HeaderViewComponent;
@model HeaderVM
 
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary"
         style="width: 3rem; height: 3rem"
         role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
    

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html"
       class="navbar-brand d-flex flex-column align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary">
            <i class="fa fa-book me-3"></i>@Model.Settings["Header text"]
        </h2>
        <h3 class="m-0">@Model.Settings["Address"]</h3>
    </a>
    
    <button type="button"
            class="navbar-toggler me-4"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a  class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="courses.html" class="nav-item nav-link">Courses</a>
            <div class="nav-item dropdown">
                <a href="#"
                   class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="team.html" class="dropdown-item">Our Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="404.html" class="dropdown-item">404 Page</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#"
                   class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown">Account</a>
                   @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown-menu fade-down m-0">
                        <a class="dropdown-item" href="#">Hello, @Model.UserFullName</a>
                        <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                        
                    </div>
                }
                else
                {
                    <a asp-controller="Account" asp-action="SignIn" class="dropdown-item">Login</a>
                    <a asp-controller="Account" asp-action="SignUp" class="dropdown-item">Register</a>
                }

            </div>


            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        @*<div class="navbar-nav p-4 p-lg-0">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="drop_down_menu position-absolute">
                    <a class="nav-item nav-link" href="#">Hello, @Model.UserFullName</a>
                    <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                        <button type="submit" class="nav-item nav-link btn btn-link p-0 m-0">Logout</button>
                    </form>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <a class="nav-item nav-link" asp-area="Admin" asp-controller="dashboard" asp-action="Index">Go to Admin</a>
                    }
                </div>
            }
            else
            {
                <a asp-controller="Account" asp-action="SignIn" class="nav-item nav-link">Login</a>
                <a asp-controller="Account" asp-action="SignUp" class="nav-item nav-link">Register</a>
            }
        </div>*@
    </div>
</nav>
<!-- Navbar End -->
