@model TestimonialVM

@{
    ViewData["Title"] = "Delete Testimonial";
}

<h2>Delete Testimonial</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/@Model.Image" width="100" height="100" alt="@Model.ClientName" />
        </dd>
        <dt class="col-sm-2">
            Client Name
        </dt>
        <dd class="col-sm-10">
            @Model.ClientName
        </dd>
        <dt class="col-sm-2">
            Profession
        </dt>
        <dd class="col-sm-10">
            @Model.Profession
        </dd>
        <dt class="col-sm-2">
            Testimonial Text
        </dt>
        <dd class="col-sm-10">
            @Model.Content
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

